
@{
    Layout = null;
}


<link  href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
<form method="post">
    <label>Mail Adresinize Gelen Kodu Giriniz</label>
    <input type="text" class="form-control"/>
     <br />
     <br />
     <button class="btn btn-primary">Hesabınızı Aktifleştirin</button>
</form>
</div>